.happyInfoMsg { cursor: pointer; }
a.happyInfoMsg:visited,
a.happyInfoMsg:hover,
a.happyInfoMsg:focus,
a.happyInfoMsg:link { color: black !important; }

.unhappy { border: 1px solid #f00 !important; }
